@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 0 20px;
  cursor: default;
}

li {
  list-style-type: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  transition-duration: 0.1s;
  &:hover {
    background-color: rgba(0, 0, 20, 0.03);
    transition-duration: 0s;
  }
}

input {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  box-shadow: 0 0 0 40px white inset !important;
  background-clip: text;
}

img, h1 {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
