@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0 0 20px;
  cursor: default;
}

li {
  list-style-type: none;
  width: 100%;
  border-bottom: solid 1px #eee;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  padding-left: 20px;
  transition-duration: 0.1s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
    transition-duration: 0s;
  }
}

input {
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
}
